<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      button {
        background-color: black;
        color: white;
      }
      img {
        background-color: black;
      }
    </style>
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div>
      <center>
        <button hx-get="/clicked" hx-trigger="click delay:2s">
          <h1>Click me!</h1>
        </button>
      </center>
    </div>
    <div id="target"></div>
  </body>
</html>
